* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Arial';
	font-size: 18px;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
/*<!.........home.........!>*/
.home{
	background-image: url("../img/b-3.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}
.hd{
	margin-top: 80px;
	text-align: center;
}
.hd h2{
	margin-bottom: 20px;
	font-size: 15px;
}
.hd h1{
	margin-bottom:15px;
	font-size:30px;
}
.hd p{
	font-size:14px;
}
.hd a{
	font-size:14px;
	border: solid 2px  orange;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.hd a:hover{
	cursor: pointer;
	background-color: white;
	color:black;
}
.toggle{
	float: right;
	display: none;
	padding: 0px;
}
.toggle img{
	height: 30px;
	width: 30px;
	margin-top: 10px;
    margin-right: 15px
}
.toggle:hover{
	cursor: pointer;
}
.dot-menu{
	position: absolute;
	text-align: center;
	border: 1px solid rgba(79,79,79,1.00);
	background-color: black;
	width: 100%;
	display: none;
	z-index: 5;
}
.dot-menu a{
	margin-top: 20px;
	padding-top: 20px;
	color: white;
}
.dot-menu a:hover{
	cursor: pointer;
	
}

.menu{
	float: right;
	margin-top: 25px;
	color: white;
}

.menu a{
	padding: 20px;
	color: white;
}

.menu a:hover{
	cursor: pointer;
	color: orange;
}

.logo img{
	width: 84px;
	height:80px;
}
.logo{
	float: left;
	margin-left: 200px;
}

/*<!.............row-1...............!>*/

.row-1{
	background-color:rgba(252,217,217,1.00);
	height: 281px;
}

.row{
	text-align: center;
}
.container{
	text-align: left;
	margin-top: 50px;
}
.ip h2{
	font-size: 15px;
	padding-bottom: 25px;
	color: orange;
}

.ip h1{
	font-size:20px;
	padding-bottom:10px;
}

.ip{
	border-left: 2px solid orange;
}




/*<!.............about.............!>*/


.banner{
	background-image: url("../img/b-6.jpg");
		height:307px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}
.about-text{
	padding-top: 100px;
}
.about-text h1{
	font-size: 25px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.banner-1{
	background-color: rgba(25,13,13,1.00);
    height:598px;
	color: white;
}

.img-1 img{
    height: 563px;
    width: 437px;
}
.img-1{
	margin-left: 371px;
}

.tx{
	text-align: center;
	padding-top: 87px;
}
.tx h2{
	color: orange;
	padding-bottom: 50px;
}

.tx h1{
	font-size:35px;
	padding-bottom:4px;
}

.tx p{
	
	padding-top:20px;
}

.banner-2{
	background-color: rgba(252,217,217,1.00);
    height:506px;
	color:black;
}

.img-2 img{
    height:506px;
    width: 395px;
	padding: 0px;
}
.img-2{
    padding: 0px;
	height: 500px;
}

.tx-1{
	text-align: center;
	padding-top: 87px;
	margin-left:352px;
}
.tx-1 h2{
	color: orange;
	padding-bottom: 50px;
}

.tx-1 h1{
	font-size:35px;
	padding-bottom:4px;
}

.tx-1 p{
	
	padding-top:20px;
	padding-bottom: 30px;
}

.tx-1 a{
	background-color: black;
	color: white;
	padding:10px;
	border-radius: 5px;
}
.tx-1 a:hover{
	cursor: pointer;
	background-color:orange;
	color: black;
}

/*<!.....................shop.......................!>*/


.banner-3{
		background-color: rgba(25,13,13,1.00);
    height:338px;
	color: white;
	text-align: center;
}

.bn-3-img{
    margin-left: 385px;
    padding: 0px;
    padding-top: 10px;
}

.bn-3-tx h2{
	color: orange;
}

.bn-3-tx h1{
	font-size: 25px;
	padding-top:25px;
	padding-bottom: 25px;
}

.bn-3-tx{
	padding-top: 95px;
}

.bn-3-tx a{
	background-color:orange;
	color: black;
	padding:10px;
	border-radius: 5px;
}
.bn-3-tx a:hover{
	cursor: pointer;
	background-color:white;
	color: black;
}


.shop-row{
	background-color: rgba(252,217,217,1.00);
    height:1687px;
	color:black;
	text-align: center;
}

.shop-row h3{
	padding-top: 25px;
}

.shop-row h1{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 25px;
}
.row-2{
	text-align: center;
}


/*<!...................blog................!>*/


.banner-4{
      	background-image: url("../img/b-4.jpg");
		height:285px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}

.banner-4 h1{
	font-size:35px;
	padding-top: 169px;
}

.im-bo{
	
    padding-top: 69px;
    margin-left: 856px;
}


.blog-row{
	background-color: rgba(252,217,217,1.00);
    height:1385px;
	color:black;
	text-align: center;
}

.blog-row h3{
	padding-top: 25px;
}

.blog-row h1{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 25px;
}
.row-3{
	text-align: center;
}
.bh a{
	background-color:black;
	color: white;
	padding:10px;
	border-radius: 5px;
}
.bh a:hover{
	cursor: pointer;
	background-color:orange;
	color: black;
}

.bh p{
	padding-bottom: 25px;
}

/*<!..................contact.................!>*/

.contact{
		background-color: rgba(25,13,13,1.00);
    height:600px;
	color: white;
	text-align: center;
}

.contact h1{
	font-size: 30px;
	color: white;
	padding-top: 30px;
}

.cont{
		background-color: rgba(252,217,217,1.00);
    height:316px;
	color: white;
	text-align: center;
}
.con{
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top:80px;
    margin-left: 679px;
}

input{
	float: left;
	border: none;
	width: 48%;
	margin:2% 1%;
	padding: 15px;
	background-color:rgba(25,13,13,1.00);
	color: white;
}
#t5{
	width: 100%;
}
#submit{
float: none;
}

.contact-company{padding: 0px;padding-top: 10px;}
.phone{
	color: black;
	background-color:rgba(252,217,217,1.00);
	height: 60px;
	width: 48%;
	margin-right: 10px;
	
}

.phone h1{
	font-size: 20px;
	padding-top: 5px;
	color: black;
}

.email h1{
	font-size: 20px;
	padding-top: 5px;
	color: black;
}



.email{
	background-color:rgba(252,217,217,1.00);
	height: 60px;
	width: 48%;
	margin-left: 10px;
	color: black;
}

/*<!..............................end................................!>*/


.end{
	
	background-color:rgba(252,217,217,1.00);
	height:75px;
}

.log{
	margin: 0px;
	text-align: center;
}
.en-im{
	margin-left: 84%;
}

/*<!....................................responsive.........................................!>*/

@media(max-width:768px){
	.toggle{display:none;}
	.dot-menu{display: none;}
	.menu{display:block;}
	.logo {margin-left: 24px;}
	.menu a {padding: 14px;}
	.ip{width: 25%;}
	.ip h1{font-size: 19px;}
	.row-1{height: 290px;}
	.banner-1 {height: 1047px;}
	.img-1 {margin-left: 165px;}
	.tx {width: 100%;padding-top: 0px;}
	.tx-1 {padding-top: 27px;margin-left: 29px;width:96%;}
	.img-2{margin-left: 199px;padding-top: 10px;}
	.banner-2{height: 932px;}
	.banner-3 {height: 223px;}
	.bn-3-img {margin-left: 45px;width: 39%;}
	.bn-3-tx {padding-top: 15px;width: 50%;}
	.shop-row {height: 1443px;}
	.banner-4 h1 {padding-top: 155px;}
	.im-bo {padding-top: 68px;margin-left: 304px;width: 18%;}
	.blog-row {height: 1325px;}
	.con {padding-top: 18px;margin-left: 123px;}
	.cont{width: 82%;}
	.contact-company{width: 82%;}
	.contact{height: 518px;}
	.en-im {margin-left: 44%;width: 13%;}
	.end{height: 80px;}
	
}

@media(max-width:500px){
	.toggle{display:block;}
	.dot-menu{display: none;}
	.menu{display: none;}
	.logo {margin-left: 5px;}
	.toggle img{height: 34px;width: 35px;margin-top: 29px;margin-right:0px;}
	.ip{width: 100%;}
	
	.row-1 {height: 723px;}
	.img-1 {margin-left: 97px;}
	.tx {width: 100%;padding-top: 4px;}
	.banner-1{height: 987px;}
	.img-1 img {height: 216px;width: 197px;}
	.tx-1 {text-align: center;padding-top: 26px;margin-left:0px;width: 100%;}
	.img-2 img {height: 275px;width: 248px;}
	.img-2 {padding: 0px;height: 316px;margin-left: 96px;}
	.banner-2 {height: 880px;}
	.banner-3 {height: 451px;}
	.shop-row {height: 5247px;}
	.bn-3-img {margin-left: 47px;width: 80%;}
	.bn-3-tx {padding-top: 15px;width: 100%;}
	.sh-1{width: 100%;}
	.sh-2{width: 100%;}
	.sh-3{width: 100%;}
	.sh-4{width: 100%;}
	.sh-5{width: 100%;}
	.sh-6{width: 100%;}
	.sh-7{width: 100%;}
	.sh-8{width: 100%;}
	.sh-9{width: 100%;}
	.im-bo {padding-top: 69px;margin-left: 150px;width: 26%;}
	.banner-4 h1 {padding-top: 140px;}
	.bh{width: 100%;}
	.blog-row {height: 4093px;}
	.con{margin-left: 16px;}
	.cont{width: 96%;}
	.phone{width: 47%;}
	.phone h1{font-size: 17px;}
	.email h1{font-size: 17px;}
	.email{width: 47%;margin-left: -2px;}
	.contact-company{width: 100%;padding: 0px;padding-top: 10px;}
	.en-im {margin-left: 38%;width: 28%;}
	.end{    height: 93px;}
	
	}





























